<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM3y5iZ9fX1D1w1j5g5r5V5V5V5V5V5V5V5V5V5" crossorigin="anonymous">
    <link href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
          rel="stylesheet" />
  </head>
<body>
  <div class="resume">
    <div class="base">
      <div class="profile">
        <div class="photo">
          <img src="{{ url_for('static', filename='images/image.jpg') }}" />   
          <!-- <i class="fas fa-rocket" style="right: -10px;"></i> -->
        </div>
        <div class="info">
          <h1 class="name">{{name}}</h1>
          <h2 class="job">Bachelor of Information Security</h2>
        </div>
      </div>
      <div class="about">
        <h3>About Me</h3>
        <p>
            I am currently pursuing a Master's degree in Information Security, building on my Bachelor's from ITMO University with a specialization in cryptography. 
            My expertise lies in developing secure backend systems, implementing cryptographic methods, and leveraging AI-driven security solutions. 
            I have hands-on experience in backend programming, database management, and system performance optimization. 
        </p>
      </div>
      <div class="contact">
        <h3>Contact Me</h3>
        <div class="call">
          <a>
            <i class="fas fa-phone"></i>
            <span>+7-921-912-8766</span>
          </a>
        </div>
        <div class="address">
          <a>
            <i class="fas fa-map-marker"></i>
            <span>Saint Petersburg</span>
          </a>
        </div>
        <div class="email">
          <a>
            <i class="fas fa-envelope"></i>
            <span>tvhoang.1303@gmail.com</span>
          </a>
        </div>
      </div>
      <div class="follow">
        <h3>Follow Me</h3>
        <div class="box">
          <a href="https://www.facebook.com/tran.van.hoang.0" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/hoang.1303/" target="_blank"><i class="fab fa-instagram "></i></a>
          <a href="https://t.me/tvhoang_13" target="_blank"><i class="fab fa-telegram"></i></a>
          <a href="https://github.com/tvhoangitmo" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="func">
      <div class="work">
        <h3><i class="fa fa-briefcase"></i>Experience</h3>
        <ul>
          <li><span>Fresher - Backend Developement</span><small>Jul. 2023 - Dec. 2023</small></li>
          <li><span>Intern - Backend Developement</span><small>Mar. 2023 - June. 2023</small></li>
          <!-- <li><span>Intern - Web Design</span><small>Lynden</small><small>Aug 2017 - Dec 2017</small></li> -->
        </ul>
      </div>
      <div class="edu">
        <h3><i class="fa fa-graduation-cap"></i>Education</h3>
        <ul>
          <li><span>Master of Information Security</span><small>ITMO University</small><small>Sept. 2024 - Now</small></li>
          <li><span>Information Security</span><small>ITMO University</small><small>Sept. 2019 - Jul. 2024</small></li>
          <li><span>High School</span><small>Anh Son I High School</small><small>Sept. 2015 - Jun. 2018</small></li>
        </ul>
      </div>
      <div class="skills">
        <h3><i class="fas fa-code"></i>Programming Skills</h3>
        <ul>
          <li data-percent="70"><span>HTML5</span>
            <div class="skills-bar">
              <div class="bar" style="width: 70%;"></div>
            </div>
          </li>
          <li data-percent="50"><span>CSS3 & SCSS</span>
            <div class="skills-bar">
              <div class="bar" style="width: 50%;"></div>
            </div>
          </li>
          <li data-percent="80"><span>JavaScript</span>
            <div class="skills-bar">
              <div class="bar" style="width: 80%;"></div>
            </div>
          </li>
          <li data-percent="90"><span>Python</span>
            <div class="skills-bar">
              <div class="bar" style="width: 90%;"></div>
            </div>
          </li>
          <li data-percent="40"><span>JSON</span>
            <div class="skills-bar">
              <div class="bar" style="width: 40%;"></div>
            </div>
          </li>
          <!-- <li data-percent="55"><span>PHP</span>
            <div class="skills-bar">
              <div class="bar"></div>
            </div>
          </li> -->
          <li data-percent="40"><span>MySQL</span>
            <div class="skills-bar">
              <div class="bar" style="width: 40%;"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="skills">
        <h3><i class="fas fa-bezier-curve"></i>Software Skills</h3>
        <ul>
          <li data-percent="60"><span>Network Security & Monitoring</span>
            <div class="skills-bar">
              <div class="bar" style="width: 60%;"></div>
            </div>
          </li>
          <li data-percent="80"><span>Cryptography</span>
            <div class="skills-bar">
              <div class="bar" style="width: 80%;"></div>
            </div>
          </li>
          <li data-percent="70"><span>Machine Learning Frameworks</span>
            <div class="skills-bar">
              <div class="bar" style="width: 70%;"></div>
            </div>
          </li>
          <li data-percent="70"><span>Data Processing & Analysis</span>
            <div class="skills-bar">
              <div class="bar" style="width: 70%;"></div>
            </div>
          </li>
          <!-- <li data-percent="40"><span>JSON</span>
            <div class="skills-bar">
              <div class="bar" style="width: 40%;"></div>
            </div>
          </li> -->
          <!-- <li data-percent="55"><span>PHP</span>
            <div class="skills-bar">
              <div class="bar"></div>
            </div>
          </li> -->
          <!-- <li data-percent="40"><span>MySQL</span>
            <div class="skills-bar">
              <div class="bar" style="width: 40%;"></div>
            </div>
          </li> -->
        </ul>
      </div>
      <div class="interests">
        <h3><i class="fas fa-star"></i>Interests</h3>
        <div class="interests-items">
          <div class="art"><i class="fas fa-book"></i><span>Books</span></div>
          <div class="movies"><i class="fas fa-film"></i><span>Movies</span></div>
          <div class="music"><i class="fas fa-headphones"></i><span>Music</span></div>
          <div class="games"><i class="fas fa-gamepad"></i><span>Games</span></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html> 